

.mobileMenu{
    position: absolute;
    top: 57px;
    left: 24px;
    text-align: center;
    font-size: 12px;
    padding: 4px;
    display: none;
    cursor: pointer;
}

.mobileMenu span{
    background-color: #833857;
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 5px;
}

.mainMenu{
    display: flex;
    align-items: flex-end;
    padding-bottom: 36px;
}

.siteLogoMobile{
    display: none;
    @media screen and (max-width: 768px){
        &{
            display: flex;
            justify-content: center;
        }
    }

}

.closeBtn{
    border-radius: 50%;
    background-color: #fff2c2;
    color: red;
    font-weight: 700;
    padding: 3px 8px;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    display: none;

    @media screen and (max-width: 768px){
        &{
            display: flex;
        }
    }
}


@media only screen and (max-width: 768px) {
    .mainMenu{
        right: -1200px;
        transition: right 2s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 100%;
        position: fixed;
        top: 32%;
        padding: 10px 12px;
    }

    .mainMenu a {
        display: block;
        width: auto;
        margin-left: 0;
        padding: 0px 5px;
        margin-bottom: 15px;
        font-size: 16px;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .mobileMenu{
        display: block;
    }

    .active{
        right: 0;
        transition: right 1.3s;
    }

}

